body {
    font-family: sans-serif;
}

h1{
    text-align:center ;
}

header{
    background-image: linear-gradient(to right,rgb(255, 192, 144),rgb(133, 249, 137));
    height: 100px;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

footer img{
    box-shadow: 10px 10px 10px 0 black;
    margin-top: 10px;
    margin-left: 130px;
    border-radius: 33px;
}

.link-nav2{
    float: right;
}

.link-nav1{
    float: left;
}

.link-nav2, .link-nav1{
    text-decoration: none ;
    color: black;
    margin: 20px;
    border: 4px dotted rgb(153, 144, 255);
    border-radius: 8px;
    padding: 5px;
}

.link-nav2, .link-nav1{
    text-decoration: none ;
    color: black;
    margin: 20px;
    border: 4px dotted rgb(255, 144, 222);
    border-radius: 8px;
    padding: 5px;
}

.link-nav1:hover {
   color: white; 
   background-color: rgh(255,144,222);
   transition: all 1 linear;
}

.link-nav2:hover {
   color: white; 
   background-color: rgh(133,213,249);
   transition: all 1 linear;
}

h1:hover{
    transform: scale(1.5);
    padding: 15px;
    transition: 1s all ease-in;
}
